@using ILIb1._1.ViewModels;
@model EditProfVM


@{
    ViewData["Title"] = "Edit User";
}



<form method="post" asp-action="EditProfile">
    <input type="hidden" value="Id" id="Id" asp-for="Id" />
    <div class="form-group">
        <label asp-for="UserName">Title</label>
        <input asp-for="UserName" type="text" value="@Model.UserName" class="form-control" placeholder="UserName">
        <span asp-validation-for="UserName" class="text-danger"></span>
        
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">PhoneNumber</label>
        <input asp-for="PhoneNumber" type="number" value="@Model.PhoneNumber" class="form-control" placeholder="Edition">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div><br /><br />
    
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>