@{
    ViewData["Title"] = "ILIB";
}
<body>
    <center>
<h1> ILIB </h1>
<h5>Explore , Learn And Become A better Version Of Yourself</h5>
<img src ="Static/img/Book_icon.png" style="height:200px;"/>
    </center>
</body>